.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.brown-title {
  color: #432918; /* Marron */
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #009640; /* Vert principal */
  transition: background-color 0.3s ease;
  width: 100%;
}

.btn:hover {
  background-color: #FBBC19; /* Orange au hover */
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #009640;
  cursor: pointer;
  text-decoration: underline;
}

.forgot-password:hover {
  color: #FBBC19; /* Orange au hover */
}

.alert {
  margin-top: 10px;
}
