h2 {
  color: #5e3e31;
  margin-bottom: 20px;
}

h3 {
  color: #5e3e31;
  margin-bottom: 15px;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

form input, form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background: #5e9f47;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

form button:hover {
  background: #467933;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
}

th {
  background: #f5f5f5;
}

tbody tr:hover {
  background: #edf5ed;
}

button {
  background: #5e9f47;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  background: #467933;
}

